Source: libsyslogpp
Section: network
Priority: extra
Maintainer: Ionut Cotoi <icotoi@gmail.com>
Build-Depends: 
Standards-Version: 3.9.4
Homepage: https://github.com/yurial/libsyslogpp

Package: libsyslogpp
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: syslog c++ wrapper
 <No description, really>
